input.txt
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
**/target
**/build
**/Cargo.lock
frontend/terraform/.terraform
frontend/terraform/.terraform.lock.hcl
frontend/terraform/terraform.tfvars
frontend/wasm
/Cargo.toml
.tool-versions
