input.txt
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.wasm
go.work
**/target
**/Cargo.lock
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfvars
**/go.sum
frontend/wasm
/Cargo.toml
.tool-versions
